
@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, p, ul, li, form, fieldset, span, small {margin:0px; padding:0px; list-style:none; border:none; font-size:100%; font-weight:normal; line-height:normal;}
.clear {clear:both;}
img {border:none;}
* {margin:0; padding:0; outline:none;}
html, body {margin:0; padding:0; height:100%;}
::-webkit-input-placeholder {color: #60608f;}
:-moz-placeholder {color: #60608f; opacity:  1;}
::-moz-placeholder {color: #60608f; opacity:  1;}
:-ms-input-placeholder {color: #60608f;}
body {background: #fff; font:14px 'ProximaNovaRegular', sans-serif; overflow-x: hidden;}
.outerContainer {float: left; width: 100%; position: relative;}
/*********************** Login Starts here ***********************/
.wrapper {width: 100%; max-width: 100%; float:left;}
.form {float: left; width: 100%; text-align: center;}
.payForm {display: inline-block; width: 30%; border:1px solid #eee;}
.payForm h2 {font:24px/24px 'ProximaNovaSemibold', sans-serif; color: #fff; padding: 16px 0; background: #666; text-align: center; text-transform: capitalize;}
.paySec {float: left; width: 100%; padding: 4%;}
.paySec span {width: 100%; display: inline-block; padding: 0 0 16px 0;}
.paySec span img {max-width: 50%; display: inline-block; height: auto;}
.formRow {float: left; width:100%; padding: 0 0 16px 0;}
.formRow.firstRow {padding: 0;}
.formRow h3 {float: left; width: 100%; text-align: left; font:14px/14px 'ProximaNovaSemibold', sans-serif; color: #333; padding: 0 0 6px 0; margin: 0;}
.formRow small {float: left; text-align: left; font:18px'ProximaNovaSemibold', sans-serif; color: #000; padding: 0 0 6px 0; margin: 0;}
.formRow #editBtn {cursor: pointer; float:right; position: relative; right: 0; top: -20px; width: 60px; font: 14px 'ProximaNovaSemibold', sans-serif; color: #fff; text-transform: capitalize; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; text-decoration: none; letter-spacing: 1px; padding: 12px 0; background: #9a9a9a; border: none; }


.formRow label {float: left; width: 100%; text-align: left; font:14px/14px 'ProximaNovaSemibold', sans-serif; color: #333; padding: 0 0 6px 0; margin: 0;}
.formRow input[type="text"] {width: 100%; padding: 0 2%; height: 37px; float: left; border: 1px solid #eee; font:14px/37px 'ProximaNovaRegular', sans-serif; color: #60608f !important; -webkit-border-radius: 3px; -moz-border-radius:3px; border-radius:3px;}
.formRow .formCol {float: left; width:50%; }
.formRow .formCol label {float: left; width: 100%; text-align: left; font:14px/14px 'ProximaNovaSemibold', sans-serif; color: #333; padding: 0 0 6px 0; margin: 0;}
.formRow .formCol input[type="text"] {width: 100%; padding: 0 2%; height: 37px; float: left; border: 1px solid #eee; font:14px/37px 'ProximaNovaRegular', sans-serif; color: #60608f !important; -webkit-border-radius: 3px; -moz-border-radius:3px; border-radius:3px;}
.formRow #payBtn {cursor: pointer; display: inline-block; width: 60%; font: 14px 'ProximaNovaSemibold', sans-serif; color: #fff; text-transform: capitalize; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; text-decoration: none; letter-spacing: 1px; padding: 12px 0; background: #8cc63f; border: none; }

@media only screen and (max-width:767px) {
  .payForm {width: 100%; height: 100vh;}

}
.msg {width:100%; height: 100vh; float: left; position: relative;}
.alignn{
  font-size: 20px;
  color: #10bf9b;
  padding: 0;
  text-align: center;
  position: absolute;
  left: 50%;
  top:50%;
  width:300px;
  transform: translate(-50%, -50%);
}
.alignn span {display: inline-block;}
.alignn span img {width: 100%; display: inline-block; max-width:46px; height: auto;}
/*@font-face {*/
/*  font-family: 'ExoBold';*/
/*  src: url('../fonts/ExoBold.eot');*/
/*  src: url('../fonts/ExoBold.eot') format('embedded-opentype'),*/
/*  url('../fonts/ExoBold.woff2') format('woff2'),*/
/*  url('../fonts/ExoBold.woff') format('woff'),*/
/*  url('../fonts/ExoBold.ttf') format('truetype'),*/
/*  url('../fonts/ExoBold.svg#ExoBold') format('svg');*/
/*}*/
