<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>FORM</title>
  <link rel="icon" type="image/png" href="./assets/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="./assets/favicon-32x32.png" sizes="16x16" />
  <link rel="stylesheet" href="payment.component.css" />
  <link rel="stylesheet" href="payment.component.css" />
</head>
<body>
<div class="outerContainer">
  <div class="wrapper">
    <div *ngIf="submitted" class="msg">
      <div class="alignn"> <span><img src="./assets/images.png" alt=""></span> Submitted successfully</div>

    </div>
    <div *ngIf="!submitted" class="form">
      <div class="payForm">
        <h2>pay invoice</h2>
        <div class="paySec">
          <span><img src="./assets/cards.png" alt=""></span>
<!--          <form >-->
            <div class="formRow firstRow">
              <h3>Payment amount</h3>
              <small>$300.00</small>
              <input type="button" value="edit" id="editBtn">
            </div>
            <div class="formRow">
              <label for="InputName">Name on card:</label>
              <input type="text" id="name">
            </div>
            <div class="formRow">
              <label for="InputCard">Card number:</label>
              <input type="text" id="card">
            </div>
            <div class="formRow">
              <div class="formCol">
                <label for="InputExpiry">Expiry date:</label>
                <input type="text" id="card" value="MM/YY">
              </div>
              <div class="formCol">
                <label for="InputSecurity">Security code:</label>
                <input type="text" id="security">
              </div>
            </div>
            <div class="formRow">
              <label for="InputName">ZIP/Postal code</label>
              <input type="text" id="name">
            </div>
            <div class="formRow">
              <input type="button" value="Pay $300.00" id="payBtn" (click)="submit()">

            </div>
<!--          </form>-->
        </div>
      </div>

    </div>

  </div>
</div>
<!--<script src="common/js/jquery-3.3.1.js"></script>-->
<!--<script src="common/js/popper.js"></script>-->
<!--<script src="common/js/bootstrap.js"></script>-->
<!--<script src="common/js/custom.js"></script>-->
</body>
</html>
