<div #appDirective  class="pt-perspective container-fluid" [formGroup] = "contactForm">

  <div *ngIf="count==0" class="page container-fluid">
    <div class="header">
      <div class="row">
        <div class="col-md-12 ">

          <h1>Basic Details</h1>



        </div>
      </div>
    </div>
    <div class="content">
      <div class="row ">

        <div class="col-md-12">

          <div >
            <label class="custom-label" for="f1">First name</label>
            <input type="text" id="f1" class="form-control" formControlName="firstname" data-title="Enter First name">
          </div>
          <div >
            <label class="custom-label" for="f2">Last name</label>
            <input type="text" id="f2" class="form-control" formControlName="lastname">
          </div>
          <div >
            <label  class="custom-label" for="f3" >Date of Birth</label>
            <input type="date" id="f3" class="form-control" formControlName="dob">
          </div>
          <div >
            <label class="custom-label" for="f4">Employee ID</label>
            <input type="text" id="f4" class="form-control" formControlName="employeeId">
          </div>
          <div>
            <label class="custom-label" for="f5" >Tax ID</label>
            <input type="text" id="f5" class="form-control mb-2" formControlName="taxId">
          </div>



        </div>
      </div>
    </div>

    <div class="footer">
      <div class="row ">
        <!--      <div class="col-6">-->


        <!--&lt;!&ndash;        <button type="button" (click)="previous()" class="prev-button">Previous</button>&ndash;&gt;-->


        <!--      </div>-->
        <div class="col-12  ">

          <button type="button" (click)="transition()" class=" offset-5  next-button">Next</button>



        </div>
      </div>
    </div>
  </div>
  <div *ngIf="count==1" class="page container-fluid">
    <div class="header">
      <div class="row">
        <div class="col-md-12 ">

          <h1>More Details</h1>
        </div>
      </div>
    </div>
    <div class="content" formGroupName="bestReasonForContact">
      <div class="row ">
        <div class="col-md-12">
          <div class="header3">Reason for Contacting</div>


          <div class="col-6">
            <input  formControlName="contactOption" type="radio" id="f-option"  value="Myself" (change)= "selectContactReason()">
            <label class="radio-label" for="f-option">Myself</label>

          </div>    <div class="col-6">
          <input   formControlName="contactOption" type="radio" id="s-option"  value="Spouse" (change)= "selectContactReason()">
          <label class="radio-label" for="s-option">Spouse/Partner</label>


        </div>   <div class="col-6">

          <input   formControlName="contactOption" type="radio" id="d-option"  value="Child" (change)= "selectContactReason()">
          <label class="radio-label" for="d-option">Child/Dependent</label>

        </div>

          <div  *ngIf="contactForm.controls['bestReasonForContact']['controls']['contactOption']['value'] !== ''">

            <div class="header3">Sub Reason to Contact</div>
            <select class="form-control  " formControlName="reason">
              <option  class="custom_label" value="" selected disabled>Sub Reason to Contact</option>
              <option  class="custom-label" [value]="reason" *ngFor="let reason of subReasonForContact">{{reason}}</option>
            </select>


          </div>


        </div>
      </div>
    </div>

    <div class="footer">
      <div class="row ">
        <div class="col-6">


          <button type="button" (click)="previous()" class="prev-button">Previous</button>


        </div>
        <div class="col-6  ">

          <button type="button" (click)="transition()" class=" next-button">Next</button>



        </div>
      </div>
    </div>

  </div>
  <div *ngIf="count==2" class="page container-fluid">
    <div class="header">
      <div class="row">
        <div class="col-md-12 ">

          <h1>Leave Details</h1>



        </div>
      </div>
    </div>
    <div class="content">
      <div class="row ">

        <div class="col-md-12">

          <div class="header3">Will you or have you missed time from work</div>
          <select  class="form-control  " formControlName="missedTimeFromWork">
            <option  class="  custom-label " selected value="" disabled>Will you or have you missed time from work</option>
            <option class="custom-label" [value]="reason" *ngFor="let reason of missedTimeFromWorkVal">{{reason}}</option>
          </select>


        </div>
      </div>
    </div>

    <div class="footer">
      <div class="row ">
        <div class="col-6">


          <button type="button" (click)="previous()" class="prev-button">Previous</button>


        </div>
        <div class="col-6  ">

          <button type="button" (click)="transition()" class=" next-button">Next</button>



        </div>
      </div>
    </div>
  </div>
  <div *ngIf="count==3" class="page container-fluid">
    <div class="header">
      <div class="row">
        <div class="col-md-12 ">

          <h1>Claim Details</h1>



        </div>
      </div>
    </div>
    <div class="content">
      <div class="row ">

        <div  formGroupName="claimantDetails" class="col-md-12">
          <div class="row">

            <div class="col-6">
              <label class="custom-label" for="f2">First Name</label>
              <input type="text" id="f2" class="form-control" formControlName="firstname">
              <label class="custom-label" for="f2">Last Name</label>
              <input type="text" id="f2" class="form-control" formControlName="lastname">
              <label class="custom-label" for="f2">EmpID</label>
              <input type="text" id="f2" class="form-control" formControlName="EmpID">
              <label class="custom-label" for="f2">DOB</label>
              <input type="date" id="f2" class="form-control" formControlName="DOB">
              <label class="custom-label" for="f2">SSN</label>
              <input type="text" id="f2" class="form-control" formControlName="SSN">

            </div> <div class="col-6">
            <label  class="custom-label" for="f2">Email</label>
            <input type="text" id="f2" class="form-control" formControlName="email">
            <label class="custom-label" for="f2">Primary Phone</label>
            <input type="text" id="f2" class="form-control" formControlName="primaryPhone">
            <label class="custom-label" for="f2">Marital Status</label>
            <select class="form-control " formControlName="maritalStatus">
              <option  class="custom-label" value="Married">Married</option>
              <option  class="custom-label" value="Unmarried">Unmarried</option>
            </select>
            <label class="custom-label" for="f2">Register For Tax Alerts</label>
            <select class="form-control " formControlName="registerForTaxAlerts">
              <option  class="custom-label" value="Yes">Yes</option>
              <option  class="custom-label" value="No">No</option>
            </select>
            <label class="custom-label" for="f2">Preferred Language</label>
            <input type="text" id="f2" class="form-control" formControlName="preferredLang">
          </div>


          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="row ">
      <div class="col-6">


        <button type="button" (click)="previous()" class="prev-button">Previous</button>


      </div>
      <div class="col-6  ">

        <button type="button" (click)="transition()" class=" next-button">Next</button>



      </div>
    </div>
    </div>
  </div>
  <div *ngIf="count==4" class="page container-fluid">
    <div class="header">
      <div class="row">
        <div class="col-md-12 ">

          <h1>Claim Details</h1>



        </div>
      </div>
    </div>
    <div class="content">
      <div class="row ">
        <div class="col-md-12" formGroupName="addressDetails">

          <div class="header3">Address Type</div>




          <div>
            <input  formControlName="addressType" type="radio" id="a-option"  value="Primary" >
            <label class="radio-label" for="a-option">Primary</label>
          </div>
          <div>

            <input   formControlName="addressType" type="radio" id="b-option"  value="Temporary">
            <label class="radio-label" for="b-option">Temporary</label>

          </div>
          <div>


            <input   formControlName="addressType" type="radio" id="c-option"  value="Physical">
            <label class="radio-label" for="c-option">Physical</label>
          </div>




          <div class="form-group" formGroupName="moreDetails">

            <div class="row">
              <div class="col-6">
                <label class="custom-label" for="f2">Address 1</label>
                <input type="text" id="f2" class="form-control" formControlName="addr1">
                <label class="custom-label" for="f2">Address 2 </label>
                <input type="text" id="f2" class="form-control" formControlName="addr2">
                <label class="custom-label" for="f2">City</label>
                <input type="text" id="f2" class="form-control" formControlName="city">

              </div>


              <div class="col-6">

                <label  class="custom-label" for="f2">Country</label>
                <input type="text" id="f2" class="form-control" formControlName="country">
                <label   class="custom-label" for="f2">State</label>
                <select class="form-control " formControlName="state">
                  <option  class="custom-label" [value]="reason" *ngFor="let reason of USStates">{{reason}}</option>
                </select>
                <label  class="custom-label" for="f2">ZipCode</label>
                <input type="text" id="f2" class="form-control" formControlName="zip">
              </div>
            </div>

          </div>





        </div>






      </div>
    </div>

    <div class="footer">
      <div class="row ">
        <div class="col-6">


          <button type="button" (click)="previous()" class="prev-button">Previous</button>


        </div>
        <div class="col-6  ">

          <button type="button" (click)="transition()" class=" next-button">Next</button>



        </div>
      </div>
    </div>
  </div>
  <div *ngIf="count==5" class="page container-fluid">
    <div class="header">
      <div class="row">
        <div class="col-md-12 ">

          <h1>Job Details</h1>



        </div>
      </div>
    </div>
    <div class="content" >
      <div class="row ">

        <div class="col-12" >



          <label class="  custom-label" for="f2">Job Title</label>
          <input type="text" id="f2" class="  form-control" formControlName="jobTitle">

          <label class="custom-label" for="f2">Work and live In Same State?</label>
          <select class="form-control " formControlName="workLiveInSameState">
            <option  class="custom-label" value="Yes">Yes</option>
            <option  class="custom-label" value="No">No</option>
          </select>






          <div class="custom-label">Description of Work</div>

          <div>
            <input  formControlName="descriptionOfWork" type="radio" id="a-option"  value="Excessive Walking" >
            <label class="radio-label" for="a-option">Excessive Walking</label>
          </div>
          <div>
            <input   formControlName="descriptionOfWork" type="radio" id="b-option"  value="Lift more than 20 pounds">
            <label class="radio-label" for="b-option">Lift more than 20 pounds</label>
          </div>
          <div>
            <input   formControlName="descriptionOfWork" type="radio" id="c-option"  value="Sit atleast 6 hours a day">
            <label class="radio-label" for="c-option">Sit atleast 6 hours a day</label>
          </div>


















        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row ">
        <div class="col-6">


          <button type="button" (click)="previous()" class="prev-button">Previous</button>


        </div>
        <div class="col-6  ">

          <button type="button" (click)="transition()" class=" next-button">Next</button>



        </div>
      </div>
    </div>
  </div>
  <div *ngIf="count==6" class="page container-fluid">
    <div class="header">
      <div class="row">
        <div class="col-md-12 ">

          <h1>Job Details</h1>



        </div>
      </div>
    </div>
    <div class="content">
      <div class="row ">

        <div class="col-md-12">


          <div class="custom-label">Employment Schedule</div>

          <div>
            <input  formControlName="employmentSchedule" type="radio" id="a-option"  value="Work from home more than 50%" >
            <label class="radio-label" for="a-option">Work from home more than 50%</label>
          </div>
          <div>
            <input   formControlName="employmentSchedule" type="radio" id="b-option"  value="Do the days you work each week change">
            <label class="radio-label" for="b-option">Do the days you work each week change</label>
          </div>
          <div>
            <input   formControlName="employmentSchedule" type="radio" id="c-option"  value="Schedule work days">
            <label class="radio-label" for="c-option">Schedule work days</label>
          </div>
          <div>
            <input   formControlName="employmentSchedule" type="radio" id="c-option"  value="Average hours worked per week">
            <label class="radio-label" for="c-option">Average hours worked per week</label>
          </div>


          <div class="custom-label">Do you work for other employee?</div>

          <input   formControlName="workForOtherEmployeeStatus" type="radio" id="c-option"  value="Yes">
          <label class="radio-label" for="c-option">Yes</label>

          <input   formControlName="workForOtherEmployeeStatus" type="radio" id="c-option"  value="No">
          <label class="radio-label" for="c-option">No</label>


          <div  *ngIf="contactForm.controls['workForOtherEmployeeStatus']['value'] == 'Yes'" formGroupName="workForOtherEmployee" class="row">

            <div class="col-6">

              <label class="custom-label" for="f2">Employer Name</label>
              <input type="text" id="f2" class="form-control" formControlName="employerName">
              <label class="custom-label" for="f2">Contact Name</label>
              <input type="text" id="f2" class="form-control" formControlName="contactName">
            </div>
            <div class="col-6">
              <label class="custom-label" for="f2">Contact Number</label>
              <input type="text" id="f2" class="form-control" formControlName="contactNumber">
              <label class="custom-label" for="f2">Job Title</label>
              <input type="text" id="f2" class="form-control" formControlName="jobTitle">
            </div>


          </div>



        </div>
      </div>
    </div>

    <div class="footer">
      <div class="row ">
        <div class="col-6">


          <button type="button" (click)="previous()" class="prev-button">Previous</button>


        </div>
        <div class="col-6  ">

          <button type="button" (click)="transition()" class=" next-button">Next</button>



        </div>
      </div>
    </div>
  </div>
  <div *ngIf="count==7" class="page container-fluid">
    <div class="header">
      <div class="row">
        <div class="col-md-12 ">

          <h1>Accident Details</h1>



        </div>
      </div>
    </div>
    <div class="content">
      <div class="row ">

        <div class="col-md-12">






          <div class="custom-label">Is Accident Work Related?</div>


          <input  formControlName="accidentWorkRelated" type="radio" id="a-option"  value="Yes" >
          <label class="radio-label" for="a-option">Yes</label>

          <input   formControlName="accidentWorkRelated" type="radio" id="b-option"  value="No">
          <label class="radio-label" for="b-option">No</label>





          <div *ngIf="contactForm.controls['accidentWorkRelated']['value'] == 'Yes'">


            <div class="custom-label">Did you filled the claim?</div>
            <input  formControlName="claimfilled" type="radio" id="a-option"  value="Yes" >
            <label class="radio-label" for="a-option">Yes</label>

            <input   formControlName="claimfilled" type="radio" id="b-option"  value="No">
            <label class="radio-label" for="b-option">No</label>


          </div>


          <div class="row">
            <div class="col-6">
              <label class="custom-label" for="f2">Last Date Worked</label>
              <input type="date" id="f2" class="form-control" formControlName="lastDateWorked">
              <div>
                <label class="custom-label" for="f2">Accident day resident state</label>
                <select class="form-control " formControlName="residentStateOnDisabilityDate">
                  <option  class="custom-label" [value]="reason" *ngFor="let reason of USStates">{{reason}}</option>
                </select>
              </div>
            </div>

            <div class="col-6">
              <label  class="custom-label" for="f2">Leave Start Date</label>
              <input type="date" id="f2" class="form-control" formControlName="leaveStartDate">

              <div>
                <label  class="custom-label" for="f2">Last Day Worked</label>
                <input type="date" id="f2" class="form-control" formControlName="lastDayWorked">
              </div>
            </div>



          </div>







          <div class="custom-label">Return To Work Date Status</div>

          <input  formControlName="returnToWorkDateStatus" type="radio" id="a-option"  value="Yes" >
          <label class="radio-label" for="a-option">Yes</label>

          <input   formControlName="returnToWorkDateStatus" type="radio" id="b-option"  value="No">
          <label class="radio-label" for="b-option">No</label>



          <div *ngIf="contactForm.controls['returnToWorkDateStatus']['value'] == 'Yes'">


            <div class="custom-label">Work Date Status</div>


            <input  formControlName="returnToWorkDate" type="radio" id="a-option"  value="Part Time" >
            <label class="radio-label" for="a-option">Part Time</label>

            <input   formControlName="returnToWorkDate" type="radio" id="b-option"  value="Full Time">
            <label class="radio-label" for="b-option">Full Time</label>

            <input   formControlName="returnToWorkDate" type="radio" id="b-option"  value="Combination">
            <label class="radio-label" for="b-option">Combination</label>


          </div>











        </div>
      </div>
    </div>

    <div class="footer">
      <div class="row ">
        <div class="col-6">


          <button type="button" (click)="previous()" class="prev-button">Previous</button>


        </div>
        <div class="col-6  ">

          <button type="button" (click)="transition()" class=" next-button">Next</button>



        </div>
      </div>
    </div>
  </div>
  <div *ngIf="count==8" class="page container-fluid">
    <div class="header">
      <div class="row">
        <div class="col-md-12 ">

          <h1>Hospital Details</h1>



        </div>
      </div>
    </div>
    <div class="content">
      <div class="row ">

        <div class="col-md-12">


          <div class="custom-label">Did you visit hospital?</div>

          <input  formControlName="visitToHospital" type="radio" id="a-option"  value="Yes" >
          <label class="radio-label" for="a-option">Yes</label>

          <input   formControlName="visitToHospital" type="radio" id="b-option"  value="No">
          <label class="radio-label" for="b-option">No</label>


          <div *ngIf="contactForm.controls['visitToHospital']['value'] == 'Yes'" class="form-group" formGroupName="visitToHospitalDetails">


            <div class="row">

              <div class="col-6">


                <label class="custom-label" for="f2">Admission Type</label>
                <select class=" form-control" formControlName="admissionType">
                  <option  class="custom-label" [value]="reason" *ngFor="let reason of admissionTypeVal">{{reason}}</option>
                </select>
                <label class="custom-label" for="f2">Admission Date</label>
                <input type="date" id="f2" class="form-control" formControlName="admissionDate">
                <label class="custom-label"  for="f2">Hospital Name</label>
                <input type="text" id="f2" class="form-control" formControlName="hospitalName">
                <label  class="custom-label"  for="f2">Discharge Date</label>
                <input type="date" id="f2" class="form-control" formControlName="dischargeDate">
              </div>
              <div class="col-6">
                <label class="custom-label" for="f2">City</label>
                <input type="text" id="f2" class="form-control" formControlName="city">
                <label class="custom-label" for="f2">State</label>
                <select class="form-control " formControlName="state">
                  <option  class="custom-label" [value]="reason" *ngFor="let reason of USStates">{{reason}}</option>
                </select>
                <label  class="custom-label"  for="f2">Telephone</label>
                <input type="text" id="f2" class="form-control" formControlName="tel">


              </div>

            </div>








          </div>





        </div>
      </div>
    </div>

    <div class="footer">
      <div class="row ">
        <div class="col-6">


          <button type="button" (click)="previous()" class="prev-button">Previous</button>


        </div>
        <div class="col-6  ">

          <button type="button" (click)="transition()" class=" next-button">Next</button>



        </div>
      </div>
    </div>
  </div>
  <div *ngIf="count==9" class="page container-fluid">
    <div class="header">
      <div class="row">
        <div class="col-md-12 ">

          <h1>Physician Details</h1>



        </div>
      </div>
    </div>
    <div class="content">
      <div class="row">

        <div class="col-md-12" >



          <div class="row">




            <div class="col-6" formGroupName="physicianDetails">

              <label  class="custom-label" for="f2">First Name</label>
              <input type="date" id="f2" class="form-control" formControlName="firstname">

              <label  class="custom-label" for="f2">Last Name</label>
              <input type="date" id="f2" class="form-control" formControlName="lastname">

              <label class="custom-label" for="f2">Contact</label>
              <input type="text" id="f2" class="form-control" formControlName="contact">

              <label class="custom-label" for="f2">Fax</label>
              <input type="text" id="f2" class="form-control" formControlName="fax">

              <div class="custom-label">Category of physician</div>

              <input  formControlName="category" type="radio" id="a-option"  value="Primary" >
              <label class="radio-label" for="a-option">Primary</label>

              <input   formControlName="category" type="radio" id="b-option"  value="Treating">
              <label class="radio-label" for="b-option">Treating</label>


            </div>


            <div class="col-6" formGroupName="physicianDetails">

              <label class="custom-label" for="f2">State</label>
              <select class="form-control" formControlName="state">
                <option  class="custom-label" [value]="reason" *ngFor="let reason of USStates">{{reason}}</option>
              </select>

              <label class="custom-label" for="f2">organization</label>
              <input type="text" id="f2" class="form-control" formControlName="organization">


              <label class="custom-label" for="f2">Speciality</label>
              <select class="form-control " formControlName="speciality">
                <option  class="custom-label" [value]="reason" *ngFor="let reason of specialityVal">{{reason}}</option>
              </select>

              <label class="custom-label" for="f2">First Visit</label>
              <input type="date" id="f2" class="form-control" formControlName="firstVisit">

              <label  class="custom-label" for="f2">Next Visit</label>
              <input type="date" id="f2" class="form-control" formControlName="nextVisit">



            </div>

          </div>
























































        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row ">
        <div class="col-6">


          <button type="button" (click)="previous()" class="prev-button">Previous</button>


        </div>
        <div class="col-6  ">

          <button type="button" (click)="transition()" class=" next-button">Next</button>



        </div>
      </div>
    </div>
  </div>
  <div *ngIf="count==10" class="page container-fluid">
    <div class="header">
      <div class="row">
        <div class="col-md-12 ">

          <h1>Physician Details</h1>



        </div>
      </div>
    </div>
    <div class="content">
      <div class="row ">

        <div class="col-md-12 " formGroupName="physicianDetails">





          <div class="custom-label">Is another physician involved?</div>

          <input  formControlName="isAnotherPhysicianInvolved" type="radio" id="a-option"  value="Yes" >
          <label class="radio-label" for="a-option">Yes</label>

          <input   formControlName="isAnotherPhysicianInvolved" type="radio" id="b-option"  value="No">
          <label class="radio-label" for="b-option">No</label>









          <div *ngIf="contactForm.controls['physicianDetails']['controls']['isAnotherPhysicianInvolved']['value'] == 'Yes'" class="form-group" formGroupName="anotherPhysicanData">



            <div class="row">

              <div class="col-6">

                <label class="custom-label" for="f2">First Name</label>
                <input type="text" id="f2" class="form-control" formControlName="firstname">

                <label class="custom-label" for="f2">Last Name</label>
                <input type="text" id="f2" class="form-control" formControlName="lastname">

                <label class="custom-label" for="f2">Organization</label>
                <input type="text" id="f2" class="form-control" formControlName="organization">

                <label class="custom-label" for="f2">State</label>
                <select class="form-control " formControlName="state">
                  <option  class="custom-label" [value]="reason" *ngFor="let reason of USStates">{{reason}}</option>
                </select>

              </div>
              <div class="col-6">

                <label class="custom-label" for="f2">Contact</label>
                <input type="text" id="f2" class="form-control" formControlName="contact">

                <label class="custom-label" for="f2">Fax</label>
                <input type="text" id="f2" class="form-control" formControlName="fax">

                <label class="custom-label" for="f2">Speciality</label>
                <select class="form-control " formControlName="speciality">
                  <option  class="custom-label" [value]="reason" *ngFor="let reason of specialityVal">{{reason}}</option>
                </select>
              </div>


            </div>



          </div>




















































        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row ">
        <div class="col-6">


          <button type="button" (click)="previous()" class="prev-button">Previous</button>


        </div>
        <div class="col-6  ">

          <button type="submit" (click)="submitForm()" class=" next-button">Submit</button>



        </div>
      </div>
    </div>
  </div>
  <div *ngIf="count==11" class="page container-fluid">


    <div class="closure"><h1>Thank you !!!</h1></div>
  </div>


</div>
