/* .container {
    padding: 20px;
    background-color: rgb(188, 201, 200)
} */
.pt-perspective {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
  overflow-y: scroll;
  background-color: transparent;
}


.pt-page-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin-bottom: 1em;
  padding: 4em;
  font-size: 2em;
  /*background: #250025;  */
}

input{
  height:1.8em;
  border: 0.1em solid;
  border-radius: 0.5em;
  margin: 0.0em
}
label{

  margin-bottom: 0rem;
}
select {
  height: 2.4em;
  border: 0.1em solid;
  border-radius: 0.5em;
  margin: 0.2em
}
option {
  font-size: 2em;
}

.prev-page {
  visibility: hidden;
}

.current-page {
  visibility: visible;
}




.pt-page-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0rem;
  /*left: 0;*/
  /*visibility: hidden;*/
  /*overflow: hidden;*/
  /*-webkit-backface-visibility: hidden;*/
  /*-moz-backface-visibility: hidden;*/
  /*backface-visibility: hidden;*/
  /*-webkit-transform: translate3d(0, 0, 0);*/
  /*-moz-transform: translate3d(0, 0, 0);*/
  /*transform: translate3d(0, 0, 0);*/
  /*-webkit-transform-style: preserve-3d;*/
  /*-moz-transform-style: preserve-3d;*/
  /*transform-style: preserve-3d;*/
  /*margin-bottom: 10px;*/
  /*margin-bottom: 1em;*/
  /*padding: 4em;*/
  /*font-size: 2em;*/
  background: #0ac6d2
}

.pt-page-3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  /*left: 0;*/
  /*visibility: hidden;*/
  /*overflow: hidden;*/
  /*-webkit-backface-visibility: hidden;*/
  /*-moz-backface-visibility: hidden;*/
  /*backface-visibility: hidden;*/
  /*-webkit-transform: translate3d(0, 0, 0);*/
  /*-moz-transform: translate3d(0, 0, 0);*/
  /*transform: translate3d(0, 0, 0);*/
  /*-webkit-transform-style: preserve-3d;*/
  /*-moz-transform-style: preserve-3d;*/
  /*transform-style: preserve-3d;*/
  /*margin-bottom: 10px;*/
  /*margin-bottom: 1em;*/
  /*padding: 4em;*/
  /*font-size: 2em;*/
  /*background: #60d7a9;*/
  /*overflow-y: auto;*/
}

.pt-page-4 {
  /*width: 100%;*/
  /*height: 100%;*/
  /*position: absolute;*/
  top: 0;
  /*left: 0;*/
  /*visibility: hidden;*/
  /*overflow: hidden;*/
  /*-webkit-backface-visibility: hidden;*/
  /*-moz-backface-visibility: hidden;*/
  /*backface-visibility: hidden;*/
  /*-webkit-transform: translate3d(0, 0, 0);*/
  /*-moz-transform: translate3d(0, 0, 0);*/
  /*transform: translate3d(0, 0, 0);*/
  /*-webkit-transform-style: preserve-3d;*/
  /*-moz-transform-style: preserve-3d;*/
  /*transform-style: preserve-3d;*/
  /*margin-bottom: 10px;*/
  /*margin-bottom: 1em;*/
  /*padding: 4em;*/
  /*font-size: 2em;*/
  /*background: #fdc162;*/
  /*overflow-y: auto;*/
}

.pt-page-5 {
  /*width: 100%;*/
  /*height: 100%;*/
  /*position: absolute;*/
  top: 0;
  /*left: 0;*/
  /*visibility: hidden;*/
  /*overflow: hidden;*/
  /*-webkit-backface-visibility: hidden;*/
  /*-moz-backface-visibility: hidden;*/
  /*backface-visibility: hidden;*/
  /*-webkit-transform: translate3d(0, 0, 0);*/
  /*-moz-transform: translate3d(0, 0, 0);*/
  /*transform: translate3d(0, 0, 0);*/
  /*-webkit-transform-style: preserve-3d;*/
  /*-moz-transform-style: preserve-3d;*/
  /*transform-style: preserve-3d;*/
  /*margin-bottom: 10px;*/
  /*margin-bottom: 1em;*/
  /*padding: 4em;*/
  /*font-size: 2em;*/
  /*background: #fd6a62;*/
  /*overflow-y: auto;*/
}

.pt-page-6 {
  /*width: 100%;*/
  /*height: 100%;*/
  /*position: absolute;*/
  top: 0;
  /*left: 0;*/
  /*visibility: hidden;*/
  /*overflow: hidden;*/
  /*-webkit-backface-visibility: hidden;*/
  /*-moz-backface-visibility: hidden;*/
  /*backface-visibility: hidden;*/
  /*-webkit-transform: translate3d(0, 0, 0);*/
  /*-moz-transform: translate3d(0, 0, 0);*/
  /*transform: translate3d(0, 0, 0);*/
  /*-webkit-transform-style: preserve-3d;*/
  /*-moz-transform-style: preserve-3d;*/
  /*transform-style: preserve-3d;*/
  /*margin-bottom: 10px;*/
  /*margin-bottom: 1em;*/
  /*padding: 4em;*/
  /*font-size: 2em;*/
  /*background: #f68dbb;*/
  /*overflow-y: auto;*/
}
.pt-page-7 {
  /*width: 100%;*/
  /*height: 100%;*/
  /*position: absolute;*/
  top: 0;
  /*left: 0;*/
  /*visibility: hidden;*/
  /*overflow: hidden;*/
  /*-webkit-backface-visibility: hidden;*/
  /*-moz-backface-visibility: hidden;*/
  /*backface-visibility: hidden;*/
  /*-webkit-transform: translate3d(0, 0, 0);*/
  /*-moz-transform: translate3d(0, 0, 0);*/
  /*transform: translate3d(0, 0, 0);*/
  /*-webkit-transform-style: preserve-3d;*/
  /*-moz-transform-style: preserve-3d;*/
  /*transform-style: preserve-3d;*/
  /*margin-bottom: 10px;*/
  /*margin-bottom: 1em;*/
  /*padding: 4em;*/
  /*font-size: 2em;*/
  /*background: #607d8b9e;*/
  /*overflow-y: auto;*/
}
.pt-page-8 {
  /*width: 100%;*/
  /*height: 100%;*/
  /*position: absolute;*/
  top: 0;
  /*left: 0;*/
  /*visibility: hidden;*/
  /*overflow: hidden;*/
  /*-webkit-backface-visibility: hidden;*/
  /*-moz-backface-visibility: hidden;*/
  /*backface-visibility: hidden;*/
  /*-webkit-transform: translate3d(0, 0, 0);*/
  /*-moz-transform: translate3d(0, 0, 0);*/
  /*transform: translate3d(0, 0, 0);*/
  /*-webkit-transform-style: preserve-3d;*/
  /*-moz-transform-style: preserve-3d;*/
  /*transform-style: preserve-3d;*/
  /*margin-bottom: 10px;*/
  /*margin-bottom: 1em;*/
  /*padding: 4em;*/
  /*font-size: 2em;*/
  /*background: #795548cf;*/
  overflow-y: auto;
}
.pt-page-9 {
  /*width: 100%;*/
  /*height: 100%;*/
  /*position: absolute;*/
  top: 0;
  /*left: 0;*/
  /*visibility: hidden;*/
  /*overflow: hidden;*/
  /*-webkit-backface-visibility: hidden;*/
  /*-moz-backface-visibility: hidden;*/
  /*backface-visibility: hidden;*/
  /*-webkit-transform: translate3d(0, 0, 0);*/
  /*-moz-transform: translate3d(0, 0, 0);*/
  /*transform: translate3d(0, 0, 0);*/
  /*-webkit-transform-style: preserve-3d;*/
  /*-moz-transform-style: preserve-3d;*/
  /*transform-style: preserve-3d;*/
  /*margin-bottom: 10px;*/
  /*margin-bottom: 1em;*/
  /*padding: 4em;*/
  /*font-size: 2em;*/
  /*background: #cddc3985;*/
  /*overflow-y: auto;*/
}
.pt-page-rotateCubeLeftOut {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateCubeLeftOut .6s both ease-in;
  animation: rotateCubeLeftOut .6s both ease-in;
}

.pt-page-rotateCubeLeftIn {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateCubeLeftIn .6s both ease-in;
  animation: rotateCubeLeftIn .6s both ease-in;
}
.pt-page-ontop {
  z-index: 999;
}

@-webkit-keyframes rotateCubeLeftOut {
  0% { }
  50% { -webkit-animation-timing-function: ease-out;  -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
  100% { opacity: .3; -webkit-transform: translateX(-100%) rotateY(-90deg); }
}
@keyframes rotateCubeLeftOut {
  0% { }
  50% { -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out;  -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);  transform: translateX(-50%) translateZ(-200px) rotateY(-45deg); }
  100% { opacity: .3; -webkit-transform: translateX(-100%) rotateY(-90deg); transform: translateX(-100%) rotateY(-90deg); }
}

@-webkit-keyframes rotateCubeLeftIn {
  0% { opacity: .3; -webkit-transform: translateX(100%) rotateY(90deg); }
  50% { -webkit-animation-timing-function: ease-out;  -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
}
@keyframes rotateCubeLeftIn {
  0% { opacity: .3; -webkit-transform: translateX(100%) rotateY(90deg); transform: translateX(100%) rotateY(90deg); }
  50% { -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out;  -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg);  transform: translateX(50%) translateZ(-200px) rotateY(45deg); }
}

/* .container-pg-1 {
    padding: 5%

} */

.custom-button{
  box-shadow: 0 2px 3px 0 #858585;
  background-color: #f8f9fa;
  /* width: inherit; */
  /* padding: 0.35rem; */
  /* border-top: 0px !important; */
  /*position: fixed;*/
  /*margin-right: 6.5rem;*/
  margin-left: 14.5rem;
 margin-bottom: 4.4rem;
}
.custom-button1{
  box-shadow: 0 2px 3px 0 #858585;
  background-color: #f8f9fa;
  /* width: inherit; */
  /* padding: 0.35rem; */
  /* border-top: 0px !important; */
  /*position: fixed;*/
  margin-left: 1.5rem;
  margin-bottom: 4.4rem;
  /*bottom: 1.0rem;*/
}
.custom-button11{
  box-shadow: 0 2px 3px 0 #858585;
  background-color: #f8f9fa;
  /* width: inherit; */
  /* padding: 0.35rem; */
  /* border-top: 0px !important; */
  /*position: fixed;*/
  /*margin-left: 6.5rem;*/
  /*margin-bottom: 4.4rem;*/
  /*bottom: 1.0rem;*/

}

.modal-footer {

  background-color:transparent;
  width: 50%;
  /*padding: 0.35rem;*/
  /* border-top: 0px !important; */
  /*position: fixed;*/
  /*left: 0.5rem;*/
  /*bottom: 1.0rem;*/
}
.custom-button2{
  box-shadow: 0 2px 3px 0 #858585;
  background-color: #f8f9fa;
  /* width: inherit; */
  /* padding: 0.35rem; */
  /* border-top: 0px !important; */
  position: fixed;
  left: 6.5rem;
  bottom: -31.6rem;
}
.custom-button3{
  box-shadow: 0 2px 3px 0 #858585;
  background-color: #f8f9fa;
  /* width: inherit; */
  /* padding: 0.35rem; */
  /* border-top: 0px !important; */
  position: fixed;
  left: 14.5rem;
  bottom: -31.6rem;
}
.custom-button4{
  box-shadow: 0 2px 3px 0 #858585;
  background-color: #f8f9fa;
  /* width: inherit; */
  /* padding: 0.35rem; */
  /* border-top: 0px !important; */
  position: fixed;
  left: 6.5rem;
  bottom: -13.6rem;
}
.custom-button5{
  box-shadow: 0 2px 3px 0 #858585;
  background-color: #f8f9fa;
  /* width: inherit; */
  /* padding: 0.35rem; */
  /* border-top: 0px !important; */
  position: fixed;
  left: 14.5rem;
  bottom: -13.6rem;
}
.pos{
  box-shadow: 0 2px 3px 0 #858585;
  background-color: #f8f9fa;
  margin-left: 4rem;
}
.pos1{
  box-shadow: 0 2px 3px 0 #858585;
  background-color: #f8f9fa;
  margin-right: 8rem;
}
.pos2{
  box-shadow: 0 2px 3px 0 #858585;
  background-color: #f8f9fa;
  margin-left: 10rem;
}

.custom_type_option {
  font-size: 1.1em;
}

.custom_type {
  font-size: 1.1em;
}

.custom-margin{

  margin-bottom: -1rem;


}


.container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: #fff;
}
span {
  display: block;
  margin-top: 2rem;
  font-size: 0.7rem;
  color: #777;
}
span a {
  font-size: 0.7rem;
  color: #999;
  text-decoration: underline;
}


ul li{
  color: #f8f9fa;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 0rem;
  /* height: 100px; */
  /* border-bottom: 1px solid #333;*/

}

ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.7rem;
  padding: 21px 21px 21px 60px;
  margin: 0px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label{
  /*color: #FFFFFF;*/
}

ul li .check{
  display: block;
  position: absolute;
  border: 3px solid #ffffff;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

ul li:hover .check {
  /*border: 5px solid #FFFFFF;*/
}

/*ul li .check::before {*/
/*  display: block;*/
/*  position: absolute;*/
/*  content: '';*/
/*  border-radius: 100%;*/
/*  height: 5px;*/
/*  width: 5px;*/
/*  top: 2px;*/
/*  left: 3px;*/
/*  margin: auto;*/
/*  transition: background 0.25s linear;*/
/*  -webkit-transition: background 0.25s linear;*/
/*}*/

/*input[type=radio]:checked ~ .check {*/
/*  border: 3px solid #ffffff;*/
/*}*/

/*input[type=radio]:checked ~ .check::before{*/
/*  background: #ffffff;*/
/*}*/

/*input[type=radio]:checked ~ label{*/
/*  color: #ffffff;*/
/*}*/

.custom-top-margin{

  margin-top: 3rem;

}
.scroll-box{

  height:26rem !important;
  overflow-y: scroll;


}


/*----------------------------------------------------------------------------------------------------------------------*/




